.App {
    text-align: center;
}

.logo {
    font-size: 40px;
    font-family: "Lexend Deca", serif;
    font-weight: 900;
}

.centerContent {
    width: 50%;
}

button {
    font-family: "Lexend Deca", serif;
}